<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/Head.ejs') %>
	<body>
		<%- include('./partials/Navbar.ejs') %>
		<section>
			<h2>404...</h2>
			<p>Sorry, the page required was not found.</p>
		</section>
		<%- include('./partials/Footer.ejs') %>
	</body>
</html>
